<% include ../templates/header %>

<style>
  .form-group select {
    min-width: 500px;
    max-width: 500px;
  }
</style>

<article style="padding:24px;">
  <form>
    <div class="form-group">
      <label for="pemesanan">Pemesanan</label>
      <select name="pemesanan" id="pemesanan">
        <% for (let pemesanan of pemesanans) { %>
          <option value="<%= pemesanan.id_pemesanan %>">
            <%= pemesanan.id_pemesanan + ' - ' + pemesanan.nama_pemesan + ' - ' + pemesanan.tanggal_pemesanan %>
          </option>
        <% } %>
      </select>
    </div>
  
    <div class="detail-group">
      <p>Harga</p>
      <p id="harga">0</p>
    </div>

    <div class="detail-group">
      <p>Refund</p>
      <p id="refund">0</p>
    </div>

    <div class="form-group">
      <button class="btn accent-color" id="refund-btn">Refund</button>
    </div>
  </form>
</article>
</section>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/pemesanan/refund.js"></script>
</main>
</body>

</html>